@font-face {
    font-family: customFont;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
}

:root{
    --divBgClr: #c0c5ce ;
    --formBgClr: 	#ffb3ba ;
    --btnClr : #baffc9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 1.2rem;
    height: 100%;
    font-family: customFont;
}

.container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.sidebar{
    height: 100%;
    width: 40vw;
    background-image: url(Images/ali-pazani-aVh3HrDerRE-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.picture{
    width: auto;
}

.logo{
    height: 20vh;
}

.logo-div{
    margin-top: 30vh;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.content{
    height: 50vh;
    background-color: var(--divBgClr);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5vw;
}

.form-container{
    height: 100%;
    padding-left: 5vw;
    padding-right: 10vw;
    background-color: var(--formBgClr);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10vh;
}

.form-item{
    height: 5vh;
    border: 2px solid var(--formBgClr);
    display: flex;
    justify-content: flex-start;
    gap: 20vw;
}

.form-cell{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

input:focus{
    border: 3px solid blue;
}

.bottom{
    height: 40vh;
    background-color: var(--divBgClr);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5vw;
}

button{
    height: 5vh;
    width: 10vw;
    border-radius: 5%;
    background-color: var(--btnClr);
}